.containerHearder {
    display: grid;
    grid-template-columns: 25% 75%;
    background-image: linear-gradient(to right, #bb0101, #d60202, #cf0202, #cc0000);
    height: 50px;
}

.imageHeader {
    display: flex;
    align-items: center;
    margin: auto;
}

.logoPeHeader {
    width: 155px;
    height: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.liNavHeader {
    list-style: none;
    margin: auto;
    position: relative;
}

.liNavHeader:hover .notificationMenuHeader,
.liNavHeader:hover .telephoneMenuHeader,
.liNavHeader:hover .runMenuHeader{
    display: block;
    transition: all 0.5s ease; /* Ajusta a duração e o tipo de transição */
}

.linkNavHeader {
    text-decoration: none;
    color: #FFFFFF;
    padding: 17px 35px;
}

.linkNavHeader:hover {
    background-image: linear-gradient(to right, #a50202, #a10202, #b60303);
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

.notificationMenuHeader {
    display: none;
    position: absolute;
    margin-top:  15px; ;
    left: 0; 
    background-image: linear-gradient(to top, #bb0101, #d60202, #cf0202, #cc0000);
    padding: 0 32px;
    border-radius: 0 0 20px 20px;
    z-index: 1000; 
}

.liNotificationHeader {
    list-style: none;
    margin-bottom: 15px;
    padding: 8px 0;
    text-align: center;
}

.liNotificationHeader:hover {
    background-image: linear-gradient(to right, #a50202, #a10202, #b60303);
}

.linkNotificationHeader {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px 0;
}

.telephoneMenuHeader {
    display: none;
    position: absolute;
    margin-top:  15px; ;
    left: 0;
    background-image: linear-gradient(to top, #bb0101, #d60202, #cf0202, #cc0000);
    padding: 39px;
    border-radius: 0 0 20px 20px;
    z-index: 1000;
}

.liTelephoneHeader {
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;

}

.liTelephoneHeader:hover {
    background-image: linear-gradient(to right, #a50202, #a10202, #b60303);
}

.linkTelephoneHeader {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px 0;
}

.runMenuHeader {
    display: none;
    position: absolute;
    margin-top:  15px; ;
    left: 0;
    background-image: linear-gradient(to top, #bb0101, #d60202, #cf0202, #cc0000);
    padding: 50px;
    border-radius: 0 0 20px 20px;
    z-index: 1000;
}

.liRunHeader {
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;

}

.liRunHeader:hover {
    background-image: linear-gradient(to right, #a50202, #a10202, #b60303);
}

.linkRunHeader {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    padding: 8px 0;
}
