.bodyFeriadosMensais {
    margin-top: 25px;
}



.titleFeriadosMensais {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #000000 0%, #050000 10%, #000000 70%, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: auto;
    max-width: 455px;
    margin-bottom: 25px;
}

.containerFeriadosMensais {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}